section {
  width: 100%;
  padding: 7vh 0;
}

/* Hero Section */

.hero-section {
  background-color: #f5f8fe;
  padding: 10vh 0;
}
.home-hero-left {
  width: 40%;
}
.home-hero-right {
  width: 650px;
  height: 900px;
  border-radius: 1rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

/* Features */
.feature-box {
  width: 30%;
  height: 8vh;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  gap: 16px;
}
.feature-icon-box {
  width: 24px;
  height: 24px;
  padding: 12px;
  background-color: #2e57dd34;
  border-radius: 0.5rem;
}

.feature-icon {
  color: #2e57dd;
}

/* Category Preview */
.category-section-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 32px;
  margin-block-start: 0;
}
.category-card {
  width: 32%;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  height: 20rem;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  transition: all 200ms ease;
}
.category-card:hover {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.category-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 300ms ease;
}
.category-card:hover .category-img {
  transform: scale(1.1);
}
.category-card-overlay {
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}
.category-card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 24px 0 10px 24px;
  color: white;
}
.category-icon-box {
  width: 48px;
  height: 48px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  border-radius: 8px; /* rounded-lg */
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 8px; /* mb-4 */
}
.category-icon {
  width: 24px;
  height: 24px;
}
.category-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 0;
}
.category-card-text {
  color: rgba(255, 255, 255, 0.9);
}

/* Featured Products */
.featured-products-section-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 32px;
  margin-block-start: 0;
}

/*Promotional Banner*/
.subscribe-box {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
  color: white;
  margin: 0 auto;
}
.subscribe-input {
  width: 370px;
  padding: 0.75rem 0 0.75rem 1rem;
  border-radius: 0.5rem;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.2rem;
}

.subscribe-input:focus {
  outline: 2px solid #fff;
  box-shadow: 0 0 0 2px var(--primary-foreground);
}
.subscribe-input::placeholder {
  color: #ffffffa9;
}

/* Responsive Design */

@media (max-width: 1024px) {
  .home-hero-section {
    flex-direction: column;
  }
  .home-hero-left {
    width: 100%;
    margin-bottom: 2rem;
  }
}

@media (max-width: 765px) {
  .home-hero-right {
    width: 100%;
    height: auto;
  }
  .feature-box {
    width: 100%;
    margin: 1rem 0;
  }
  .category-card {
    width: 100%;
    margin-bottom: 5vh;
  }
  .subscribe-box {
    width: 90%;
  }
  .subscribe-form {
    flex-direction: column;
  }
  .subscribe-input {
    width: 100%;
    box-sizing: border-box;
  }
  .subscribe-button {
    width: 100%;
  }
}
