.products-page-box {
  padding: 5vh 0;
}
.products-page-h1 {
  margin-block: 0;
  line-height: 2rem;
}
select {
  font-size: 1rem;
  padding: 0.8rem 1rem;
  border-radius: 1rem;
  border: 1.5px solid #dadada;
}
select:focus {
  border: none;
  outline: 2px solid #2e57dd;
}
aside {
  width: 22%;
  background-color: #fff;
}
input[type="radio"] {
  margin-right: 0.8rem;
  margin-bottom: 0.5rem;
  accent-color: #2e57dd;
}
input[type="range"] {
  width: 100%;
  accent-color: #2e57dd;
}
.products-grid-div {
  width: 75%;
}
.filter-btn {
  display: none;
}
.aside-close-btn {
  width: 25px;
  height: 25px;
  border: none;
  background-color: #fff;
}
.aside-header {
  display: none;
  margin-top: 3vh;
}
@media (max-width: 1024px) {
  .block {
    display: block;
  }
  .hidden {
    display: none;
  }
  aside {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    box-sizing: border-box;
    top: 8vh;
    left: 0;
    right: 0;
    z-index: 500;
    width: 100%;
    height: 100vh;
  }
  .aside-header {
    display: flex;
  }
  .filter-btn {
    display: flex;
    gap: 10px;
    background-color: rgb(236, 235, 235);
  }
  .products-grid-div {
    width: 100%;
  }
}
