.mainBox {
  padding-bottom: 2rem;
}
.heroSection {
  padding: 2rem 0;
}
.heroText {
  max-width: 850px;
}
.containerBox {
  padding: 4rem 20px;
}
.contactA {
  font-size: 15px;
  color: #6b7280;
  transition: 0.5s all;
}
.contactA:hover {
  color: #2e57dd;
}
.contactInfo {
  width: 35%;
}
.iconCard {
  width: 50px;
  height: 50px;
  background-color: #6885e638;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2e57dd;
  border-radius: 0.7rem;
}
.infoIcons {
  width: 30px;
  height: 30px;
}
.successIconDiv {
  width: 6rem;
  height: 6rem;
  background-color: rgb(169, 224, 178);
  border-radius: 9999px;
}
.successIcon {
  width: 4rem;
  height: 4rem;
  color: rgb(48, 136, 62);
}
.contactForm {
  width: 62%;
  height: fit-content;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  -webkit-box-shadow: 2px 12px 24px 1px rgba(66, 68, 90, 0.34);
  -moz-box-shadow: 2px 12px 24px 1px rgba(66, 68, 90, 0.34);
  box-shadow: 2px 12px 24px 1px rgba(66, 68, 90, 0.34);
}
.textarea {
  outline: none;
  resize: none;
}
.textarea:focus {
  outline: 2px solid #2e57dd;
}
.spinner {
  width: 16px;
  height: 16px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-top: 2px solid #ffffff;
  border-radius: 50%;
  margin-right: 8px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.faqSection {
  max-width: 1000px;
}
.faqSectionTitle {
  font-size: 2rem;
}
.faqBoxes {
  width: 45%;
  margin-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* Responsive Design */

@media (max-width: 1024px) {
  .contactInfo {
    width: 100%;
  }
  .contactForm {
    width: 100%;
  }
  .faqSection {
    width: 100%;
  }
  .faqBoxes {
    width: 44%;
  }
}
@media (max-width: 765px) {
  .faqBoxes {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .responsiveInput {
    flex-direction: column;
  }
}
