.section {
  width: 100%;
  padding: 7vh 0;
}

/* Hero Section */

.heroSection {
  background-color: #f5f8fe;
  padding: 10vh 0;
}
.homeHeroLeft {
  width: 40%;
}
.homeHeroRight {
  width: 650px;
  height: 900px;
  border-radius: 1rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

/* Features */
.featureBox {
  width: 30%;
  height: 8vh;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  gap: 16px;
}
.featureIconBox {
  width: 24px;
  height: 24px;
  padding: 12px;
  background-color: #2e57dd34;
  border-radius: 0.5rem;
}

.featureIcon {
  color: #2e57dd;
}

/* Category Preview */
.categorySectionTitle {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 32px;
  margin-block-start: 0;
}
.categoryCard {
  width: 32%;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  height: 20rem;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  transition: all 200ms ease;
}
.categoryCard:hover {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.categoryImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 300ms ease;
}
.categoryCard:hover {
  .categoryImg {
    transform: scale(1.1);
  }
}
.categoryCardOverlay {
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}
.categoryCardContent {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 24px 0 10px 24px;
  color: white;
}
.categoryIconBox {
  width: 48px;
  height: 48px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  border-radius: 8px; /* rounded-lg */
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 8px; /* mb-4 */
}
.categoryIcon {
  width: 24px;
  height: 24px;
}
.categoryCardTitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 0;
}
.categoryCardText {
  color: rgba(255, 255, 255, 0.9);
}

/* Featured Products */
.featuredProductsSectionTitle {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 32px;
  margin-block-start: 0;
}

/*Promotional Banner*/
.subscribeBox {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
  color: white;
  margin: 0 auto;
}
.subscribeInput {
  width: 370px;
  padding: 0.75rem 0 0.75rem 1rem;
  border-radius: 0.5rem;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.2rem;
}

.subscribeInput:focus {
  outline: 2px solid #fff;
  box-shadow: 0 0 0 2px var(--primary-foreground);
}
.subscribeInput::placeholder {
  color: #ffffffa9;
}

/* Responsive Design */

@media (max-width: 1024px) {
  .homeHeroSection {
    flex-direction: column;
  }
  .homeHeroLeft {
    width: 100%;
    margin-bottom: 2rem;
  }
}

@media (max-width: 765px) {
  .homeHeroRight {
    width: 100%;
    height: auto;
  }
  .featureBox {
    width: 100%;
    margin: 1rem 0;
  }
  .categoryCard {
    width: 100%;
    margin-bottom: 5vh;
  }
  .subscribeBox {
    width: 90%;
  }
  .subscribeForm {
    flex-direction: column;
  }
  .subscribeInput {
    width: 100%;
    box-sizing: border-box;
  }
  .subscribeButton {
    width: 100%;
  }
}
