.heroSection {
  padding: 5rem 0;
}
.heroP {
  max-width: 850px;
}
.Link {
  background-color: #2e57dd;
  color: #fff;
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  font-weight: bold;
  transition: 0.5s all;
}
.Link:hover {
  background-color: #2e57ddb2;
}
.containerBox {
  padding: 5rem 20px;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.benefitsDiv {
  width: 31.5%;
  padding: 1.5rem;
  margin-bottom: 2rem;
  box-sizing: border-box;
}
.benefitsIcon {
  width: 50px;
  height: 50px;
  background-color: #2e57dd44;
  color: #2e57dd;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
}
.cultureBox {
  width: 48%;
}
.cultureImg {
  width: 100%;
  border-radius: 1rem;
}
.cultureContentUl {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.cultureListTypeDiv {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2e57dd23;
  border-radius: 9999px;
}
.cultureListType {
  width: 10px;
  height: 10px;
  border-radius: 9999px;
  background-color: #2e57dd;
}
.positionLabel {
  font-size: 0.9rem;
  color: #2e57dd;
  background-color: #2e57dd21;
  padding: 0 0.5rem;
  border-radius: 1rem;
}
.positionIcon {
  width: 15px;
}
.processBox {
  width: 20%;
}
.processStep {
  width: 50px;
  height: 50px;
  color: #2e57dd;
  background-color: #2e57dd21;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0 auto 1rem auto;
}
.ctaDiv {
  box-sizing: border-box;
  padding: 2rem;
  margin-top: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  background: linear-gradient(
    to bottom,
    rgba(30, 64, 175, 0.1),
    #f8f8f8,
    #eeeeee5e
  );
}

/* Responsive Design */

@media (max-width: 1024px) {
  .benefitsDiv {
    width: 48%;
  }
  .cultureBox {
    width: 100%;
    margin-bottom: 2rem;
  }
  .positionLink {
    width: 100%;
    text-align: center;
    margin: 1rem 0;
  }
}
@media (max-width: 765px) {
  .benefitsDiv {
    width: 100%;
  }
  .processBox {
    width: 100%;
    margin-bottom: 2rem;
  }
}
