.heroSection {
  padding: 5rem 0;
}
.searchDiv {
  max-width: 800px;
}
.searchInputDiv {
  width: 100%;
  position: relative;
  border: 1px solid #cacbce;
  border-radius: 1rem;
  box-sizing: border-box;
}
.searchIcon {
  position: absolute;
  left: 1rem;
  top: 0.8rem;
  color: #6b7280;
}
.searchInput {
  width: 100%;
  padding: 1rem 0 1rem 3.5rem;
  color: #6b7280;
  font-size: 1rem;
  border: none;
  border-radius: 1rem;
  box-sizing: border-box;
}
.containerBox {
  padding: 4rem 20px;
}
.helpBox {
  width: 31.5%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
  padding: 1.5rem;
  border-radius: 1rem;
}
.helpIconDiv {
  width: 50px;
  height: 50px;
  background-color: rgba(142, 166, 212, 0.288);
  border-radius: 0.7rem;
}
.helpUl {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 0.7rem;
  margin-block-start: 0;
}
.helpA {
  color: #2e57dd;
  transition: 0.5s all;
}
.helpA:hover {
  text-decoration: underline;
}
.contactDiv {
  box-sizing: border-box;
  padding: 2rem;
  margin-top: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  background: linear-gradient(
    to bottom,
    rgba(30, 64, 175, 0.1),
    #f8f8f8,
    #eeeeee5e
  );
}
.contactP {
  max-width: 500px;
}
.contactSupportLink {
  background-color: #4f72e4;
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  font-weight: 600;
  transition: 0.5s all;
}
.contactSupportLink:hover {
  background-color: #4f72e4e1;
}
.contactSupportA {
  padding: 1rem 1.5rem;
  border: 1.5px solid #96989c63;
  border-radius: 1rem;
  color: black;
  font-weight: 600;
  transition: 0.5s all;
}
.contactSupportA:hover {
  background-color: #96989c67;
}

/* Responsive Design */

@media (max-width: 1024px) {
  .helpBox {
    width: 47%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  .contactDiv {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
}
@media (max-width: 765px) {
  .helpBox {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .contactSupportLink {
    width: 100%;
  }
  .contactSupportA {
    width: 100%;
  }
}
